/* styling home page */

@font-face {
    font-family: 'poppins';
    src: url('../../fonts/Poppins/Poppins-Light.ttf');
  }


@font-face {
  font-family: 'bilbo';
  src: url(../../fonts/Bilbo_Swash_Caps/BilboSwashCaps-Regular.ttf);
}

@font-face {
  font-family: 'eb-garamond';
  src: url(../../fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}

#heading-offers{
    padding: 0.1em;
    font-family: poppins
}


div#upper-rectangle{
  margin-top: 1.5em;
}

/* USER NAVIGATION**************************************   */

#profile div{
  width: 1.5em;
  height: 1.5em;
  background-image: url(../../icons/profile-thin.svg);
}

#liked-items div{
  width: 1.5em;
  height: 1.5em;
  background-image: url(../../icons/heart-thin.svg);
}

#cart div{
  width: 1.5em;
  height: 1.5em;
  background-image: url(../../icons/bag-broken.svg);
}

#user-navigation{
  display: flex;
  background-color: #FFF1D2;
  justify-content: end;
}

#reviews{
  position: relative;
  top: 0.4em;
  font-family: bilbo;
  color: black;
  font-size: 120%;
}

#search-bar{
  height: 1.8em;
  width: 15rem;
  padding-left: 2em;
  border: 1px solid rgba(0, 0, 0, 0.384);
  background-image: url(../../icons/search-thin.svg);
  background-repeat: no-repeat;
  background-position: left 2% center;
  background-size: 1em;
}

#user-navigation #navigation-content{
  display: flex;
  height: 5em;
  position: relative;
  top: 1em;
  right: 1em;
  gap: 1em;
}

/* PRODUCT NAVIGATION *************************************** */

#product-navigation{
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(102, 101, 101, 0.541);
  border-bottom: 1px solid rgba(102, 101, 101, 0.541);
  height: 3em;
  justify-content: space-between;
}

#product-navigation ul{
  list-style: none;
}

ul#left-navigation-lists, ul#right-navigation-lists{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-family: poppins;
  font-weight: bold;
  margin: 0em 3em 0em 1em;
}

#filters{
  background-image: url(../../icons/filters.svg);
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}

#tag{
  color: #E69800;
  font-family: poppins;
  font-size: 0.5em;
}

.main-categories{
  font-family: eb-garamond;
  font-weight: bolder;
  font-size: 1.3em;
  height: 2em;
  background-color: #F3F3F3;
}

.sub-category a{
  font-size: 0.8em;
  color: #767676;
  text-decoration: none;
}

.sub-category a:hover{
  text-decoration: underline;
}

.options{
  max-height: 29em;
  overflow-y: auto;
  scrollbar-width: none;
}

/* product deals*************************************************** */
#products-deal{
  min-height: 21em;
  background-color: #FFF1D2;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: inline mandatory;
  scrollbar-width: none;
}


#products-deal-lists{
  display: flex;
  grid-auto-columns: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

#products-deal-lists li{
  background-color: white;
  height: 25em;
  width: 80vw;
  flex-shrink: 0;
  margin: 6em 2em 1em 1em;
  scroll-snap-align: start;
  
}