.drop-down:active .options{
    display: block;
}

.options{
    position: absolute;
    margin-left: -3.5em;
    background-color: white;
    width: 12em;
    display: none;
}

.options li{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4em;
}

.options li:hover{
    background-color:#FFF1D2;
    opacity: 40%;
}

.drop-down p{
    cursor: pointer;
}