/* stylesheet for layout of pages */

*{
    margin: 0;
    padding: 0;
    font-size: 0.9vw;
    box-sizing: border-box;
}

@media screen and (max-width: 720px){
    *{
        font-size: 0.9vh;
    }
}

.pointer{
    cursor: pointer;
}

.center-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-black{
    background-color: black;
    color: rgb(255, 255, 255);
}

.icon{
    background-repeat: no-repeat;
    background-size: contain;
}