<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = description content = "Tulsiyan login page">
    <meta name = author content = farhanahmadpy@gmail.com>
    <meta property = "og:site_name" content = "Tulsiyan">
    <meta property = "og:type" content="website">
    <meta property = "og:description" content = "Tulsiyan login page">
    <title>Login-Tulsiyan</title>

    <link rel="stylesheet" href="../../static/stylesheet/layout/layout.css">
    <link rel="stylesheet" href="../../static/stylesheet/pages/login-page.css">
</head>
<body>
    
    <div id="login-container">
        <h1>Log in / Sign up</h1>
        <input type="text" title="user-phone-number" placeholder="Enter Mobile Number">
        <button id = submit-button >CONTINUE</button>
        <a href="#">Don't have an account?| Create new</a>
        <p>OR</p>
        <button id="continue-with-email">CONTINUE WITH EMAIL</button>
        <div id="login-with-other-apps">
            <button id = "sign-in-with-google" class="icon">GOOGLE</BUTton>
            <button id="sign-in-with-facebook" class="icon">FACEBOOK</button>
        </div>
    </div>
    <div id="background-gradient"></div>

</body>
</html>